@if (hasResults) {
<div class="absolute h-full mt-14 w-full top-0 bg-neutral-600/80 z-40">
    <div class="  md:w-200 sm:w-5 mt-2  m-auto rounded-lg shadow-2xl ">
        <div class=" bg-neutral-50 md:w-200 sm:w-5   p-4 rounded-lg h-120 z-40 ">
            <div class="overflow-auto bg-neutral-50 overflow-x-hidden w-auto h-110 grid md:grid-cols-2 sm:grid-cols-1 gap-2 mr-2">
                @if (anime) {
                <div (click)="goToDetails(item.id)"
                    class="p-2 w-auto col-span-1 mb-2 mr-6 
                         text-neutral-800 flex justify-items-center hover:bg-neutral-200 
                        transition ease-in-out duration-150 cursor-pointer rounded-md " *ngFor="let item of anime">
                    <div class="w-18 h-25 rounded-md ">
                        <img class=" w-18 h-25 object-cover rounded-md custom-shadow" [src]="item.coverImage.large" />
                    </div>
                    <div class="flex-col w-60">
                        <p
                            class="pl-3 font-semibold text-neutral-800 text-[14px] subpixel-antialiased truncate tracking-tight">
                            {{
                            item.title.romaji
                            }}</p>
                        <p class=" pl-3 text-[12px] text-neutral-600 subpixel-antialiased truncate tracking-normal">{{
                            item.title.english }} </p>
                        <p class="mt-2 pl-3 text-[12px] subpixel-antialiased">
                            <span class="p-1 rounded-md font-medium bg-neutral-500/20 text-neutral-800">
                                @if (item.genres[0] != null) {
                                {{ item.genres[0] }}
                                } @else {
                                Other
                                }

                            </span>
                        </p>
                        <p class="mt-2 pl-3 text-[12px] rounded-md text-zinc-400 subpixel-antialiased truncate tracking-normal">
                            @if ( item.format == "TV" ) {
                            <span class="p-1 rounded-md font-medium bg-blue-500/20 text-blue-500">
                                {{ item.format }}
                            </span>
                            } @else if (item.format == "MOVIE") {
                            <span class="p-1 rounded-md font-medium bg-amber-500/20 text-amber-500">
                                {{ item.format }}
                            </span>
                            } @else if (item.format == "OVA") {
                            <span class="p-1 rounded-md font-medium bg-green-500/20 text-green-500">
                                {{ item.format }}
                            </span>
                            }
                            @else if (item.format == "ONA") {
                            <span class="p-1 rounded-md font-medium bg-purple-500/20 text-purple-500">
                                {{ item.format }}
                            </span>
                            }
                            @else if (item.format == "SPECIAL") {
                            <span class="p-1 rounded-md font-medium bg-red-500/20 text-red-500">
                                {{ item.format }}
                            </span>
                            }
                            @else if (item.format == "TV_SHORT") {
                            <span class="p-1 rounded-md font-medium bg-pink-500/20 text-pink-500">
                                {{ item.format.replace("_", " ") }}
                            </span>
                            }
                            @else if (item.format == "MUSIC") {
                            <span class="p-1 rounded-md font-medium bg-fuchsia-500/20 text-fuchsia-500">
                                {{ item.format }}
                            </span>
                            }
                        </p>
                    </div>

                </div>
                }
            </div>
        </div>

    </div>
</div>

}