<section class="w-full flex   h-[50px]  absolute bg-neutral-800  z-0">
</section>
<section class="h-full flex flex-row relative bg-neutral-800  z-0">
    <div class=" overflow-hidden relative" style="width: 100%;">
        <div class="  grid  justify-items-center relative overflow-x-hidden z-30 "
            id="slider">
            @for(anime of trendingAnime(); track $index) {
               
            <div (click)="rotate(directionSlide(), $index)" id="{{$index}}"
                class=" cursor-pointer  mt-8 relative mb-5  bg-neutral-800   slider-item  slide-item">

                <div (click)="goToAnime(anime.id, $index )"
                    class="trending-slider   relative  opacity-40   transition-opacity duration-300 justify-center  bg-cover bg-no-repeat bg-center"
                    >
                     <img  class="object-cover w-full  relative" style="height: 100%;" src="{{anime.coverImage.extraLarge}}" alt="">

                    <div class="h-full w-full absolute top-0 left-0">
                        <span class="bg-orange-300 relative top-3 rounded-md p-2 m-2 text-neutral-800 font-semibold">{{anime.format}}</span>
                        <span class=" text-white  relative top-3 font-semibold   m-2 p-2 rounded-md ">Trending
                            #@if($index > 1){{{($index-1)}}} @else {{{($index+9)}}}
                        </span>
                        <div
                            class="absolute w-full justify-center items-center flex flex-col text-center font-medium bottom-4">
                            <p class=" w-full p-4 text-center text-white text-[16px] font-semibold ">
                                {{anime.title.romaji}}</p>
                            <div class="w-full flex justify-center items-center flex-wrap">
                                @for(genres of anime.genres; track $index){
                                <span
                                    class="bg-neutral-100/70 text-neutral-900 text-[12px] m-1 p-1 pl-2 pr-2 rounded-md ">
                                    {{genres}}</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>