<section class="w-full flex  h-[70px]  absolute bg-neutral-800 n z-0">
    <h1 class="text-white text-2xl font-bold m-2">Popular Anime This Season</h1>
</section>
<section class="w-full  grid grid-cols-[repeat(10,minmax(20%,1fr))]  grid-flow-col justify-items-center h-auto relative overflow-x-hidden z-30  "  id="slider">  
@for(anime of trendingAnime(); track $index) {
  
        <div  (click)="rotate(directionSlide(), $index)"  id="{{$index}}" class="w-full h-[450px] cursor-pointer  mt-15 relative mb-5  bg-neutral-800   slider-item grow-3 slide-item"  >
           
            <div class="trending-slider flex relative w-full h-full opacity-50  transition-opacity duration-300 justify-center  bg-cover bg-no-repeat bg-center"
            [style.background-image]="'linear-gradient(to top, rgba(38, 38, 38, 1) 0px, rgba(38, 38, 38, 0.3) 50%), 
              url(' + anime.coverImage.extraLarge + ')'">
               
               
                <p class="absolute text-white font-medium bottom-10">{{anime.title.romaji}}</p>
            </div>    
        </div>
}
</section>
<button class="prev-button absolute h-10 w-20 top-1/2 left-4 -translate-y-1/2 bg-neutral-800 text-white p-2 rounded-md z-40">
    ATRAS
</button>
<button  class="next-button absolute h-10 w-20 top-1/2 right-4 -translate-y-1/2 bg-neutral-800 text-white p-2 rounded-md z-40">
    ADELANTE
</button>