.spoiler {
  background-color: #444;
  color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 2px 4px;
  transition: color 0.3s;
  user-select: none;
}
.spoiler.revealed {
  color: inherit;
}

 .container:focus-within .hidden-content {
    display: block;
  }

.image-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin: 8px 0;
}
.image-row img {
  max-width: 100%;
  height: auto; 
}
 /* Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #5b5b5b;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
  border-radius: 10px;
  border: 1px none #ffffff
 
}

.bttnActive{
  background-color: #404040;
  color: #fff;;
}
