*::-webkit-scrollbar {
    height: 7PX;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255,);  
    
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:  #575757 ;
    border-radius: 10px;
    
   
  }

  .style_warper:after{
    transition: linear .3s;
    opacity: 1;
  }

  .style_warper:after{
    content: "";
    width: 60px;
    height: 135px;
    position: absolute;
    right: 19%;
    
    background-image: linear-gradient(to right, rgba(42, 42, 42, 0) 0, #222222 70%);
    will-change: opacity;
    pointer-events: none;
  }
    

    
  