<section class="w-full h-auto border-1 border-neutral-950 rounded-md shadow-2xl">
    <div class="bg-neutral-800 border-1 p-4 flex flex-row  border-neutral-700 rounded-md">
        <div class="flex flex-row">
            <div class="w-[150px]">
                <img src="{{character?.node?.image?.large}}" alt="">
            </div>
            <div>
                <p class="text-2xl font-semibold ml-5 text-neutral-300">{{character?.node?.name?.full}}</p>
                <p class="ml-5 text-neutral-300 font-medium text-[14px]"><b>Gender:</b> {{character?.node?.gender}}</p>
                <p class="ml-5 text-neutral-300 font-medium text-[14px]"><b>Birth Date:</b>
                    {{character?.node?.dateOfBirth?.day}}/{{character?.node?.dateOfBirth?.month}}
                </p>
                @if (character?.node?.age != null) {
                <p class="ml-5 text-neutral-300 font-medium text-[14px]"><b>Age:</b> {{character?.node?.age}} </p>
                }
                <p class="ml-5 text-neutral-300 font-medium text-[14px]"><b>Role:</b> {{character?.role}} </p>
                <div class="ml-5 text-neutral-300 font-medium text-[14px] w-150 pr-2 h-100 overflow-y-auto">
                    @for (item of descriptionFixed; track item) {
                        @if (item.length > 0) {
                        <div [innerHTML]="item">
                           <br>         
                        </div> 
                     }
                    }
            </div>

               
            </div>
        </div>
        <br>
        
        <div class="grid grid-cols-2  m-auto w-80 h-120 overflow-y-auto ">
            <div class="ml-6 w-30 flex flex-col cursor-pointer" (click)="goToDetails(item.id)"
                *ngFor="let item of character?.node?.media?.nodes">
                <img class="h-40" src="{{item?.coverImage?.large}}">
                <p class="mt-1 w-30 text-neutral-300 font-medium text-[12px]">{{item?.title?.romaji}}</p>
            </div>
        </div>
    </div>

</section>