<section class="w-full grid grid-cols-2">
    <!-- Filters Section -->
    <div class="w-[350px]  rounded-md p-6 m-4">
       <div>
            <p class="text-xl font-bold">Filters</p>
            <br>
            <input type="text" class="w-[200px] p-2 rounded-md outline-0 bg-neutral-50 custom-shadow mb-4
            font-semibold placeholder:text-neutral-400 text-[14px]" 
                   placeholder="Name" />
            <br>     
             <div class="w-[200px] p-2 cursor-pointer rounded-md outline-0 bg-neutral-50 custom-shadow mb-4">
                <p class="font-semibold text-neutral-400 text-[14px]">Genres</p>
             </div>      
                <!-- Genres Box  -->
                 <div class="w-[500px] h-[350px] p-3 rounded-md bg-white custom-shadow">
                    <div class="w-full">
                        <p class="text-[12px] w-fit  p-2 rounded-md text-neutral-500 font-semibold">Main Genres</p>
                        <div class="p-1  grid grid-cols-4">
                            <div class="flex items-center mb-2">
                                <input type="checkbox" class="mr-2 custom-checkbox" />
                                <span class="text-[14px] font-semibold">Action</span>
                            </div>                      
                        </div>

                    </div>
                 </div>
            <br>
            <button class="w-[250px] p-2 rounded-md bg-purple-500 text-neutral-50 custom-shadow">Search</button>
       </div> 
    </div>

</section>