<section class="w-full flex flex-col sm:flex-row">
    <!-- Filters Section -->
    <button class="sm:hidden flex items-center gap-2  fixed bottom-4 right-4 z-50 p-2 rounded-full bg-purple-500 text-neutral-50 custom-shadow" 
    (click)="toggleFilters()">        
        <ng-icon name="heroAdjustmentsHorizontal" size="20" color="8a8a8a"></ng-icon>
        Filters
    </button>
    <div id="gray-back" class="hidden sm:hidden inset-0 bg-gray-500/75  z-10 transition-opacity"></div>
    <div class="filters hidden sm:block w-full absolute sm:relative bottom-0 bg-purple-50 sm:bg-transparent sm:w-fit z-50  sm:rounded-md p-6 m-0 sm:m-4">
        
        <div class="z-20">
            <p class="text-xl font-bold text-white sm:text-purple-500">Filters</p> 
            <br>
            <input type="text" id="nameAnime" class="w-full sm:w-[200px] p-2 rounded-md outline-0 bg-white custom-shadow mb-4
            font-semibold placeholder:text-neutral-400 text-[14px]" placeholder="Name" />
            <br>

            <div (click)="toggleBoxVisibility('Format')" class="w-full sm:w-[200px] flex justify-between items-center p-2 select-none cursor-pointer rounded-md outline-0
             bg-white custom-shadow mb-4">
                <div id="FormatBox"
                    class="w-[135px] hidden h-[200px] p-4 mt-41 overflow-y-auto  absolute left-0 sm:left-65 bg-white custom-shadow rounded-md">
                    @for(format of formats; track $index){
                    <p (click)="getFormatSelected('.'+format)" 
                        class="{{format}} p-2 font-semibold text-[14px] rounded-md  hover:bg-purple-100 transition ease-in-out duration-150">
                        {{format.replace('_',' ')}}</p>
                    }
                </div>
                <p class="font-semibold text-neutral-400 text-[14px]"> 
                    Format:
                    @if(this.formatSelected.length > 0){
                    <span class="text-purple-500 text-[14px] p-1 font-bold rounded-md"> {{formatSelected.join(', ').replace('.', ' ')}}</span>
                    } 

                </p>
                <ng-icon name="heroChevronDown" size="16" class="ml-2" color="#8a8a8a"></ng-icon>
            </div>
            <div (click)="toggleBoxVisibility('Genres')" class="w-full sm:w-[200px] p-2 flex justify-between items-center select-none cursor-pointer rounded-md outline-0
             bg-white custom-shadow mb-4">
                <div id="GenresBox" (click)="$event.stopPropagation()"
                    class="w-[620px] absolute hidden h-[350px] left-65 mt-79 overflow-y-scroll p-5 rounded-md bg-white custom-shadow">
                    <div class="w-full ">
                        <div class="p-1 flex flex-col"> 

                            @for(genre of genres?.categories; track $index) {
                            @if(genre.name == 'Main Genres'){

                            <p class="text-[14px] text-neutral-400 p-3 font-semibold">Main Genres</p>
                            <div class="p-1  grid grid-cols-4">
                                @for(items of genre.items ;track $index) {
                                <div class="flex items-center mb-3">
                                    <input id="{{items}}" type="checkbox" class="mr-2 custom-checkbox" />
                                    <label (click)="selectedGenresItems(items)" for="{{items}}"
                                        class="text-[13px] w-[110px] truncate hover:text-purple-500 
                                        transition ease-in-out duration-75 cursor-pointer font-semibold">{{items}}</label>
                                </div>
                                }
                            </div>

                            }
                            }

                            <p class="text-[14px] text-neutral-400 p-3 pb-1 font-semibold">Tags</p>

                            @for(genre of genres?.categories; track $index) {
                            @if(genre.name != 'Main Genres'){

                            <p class="text-[14px] text-neutral-400 p-3 font-semibold">{{genre.name}}</p>
                            @if(!genre.subcategories?.length ){
                            <div class="p-1  grid grid-cols-4">
                                @for(items of genre.items ;track $index) {
                                <div class="flex items-center mb-2">
                                    <input id="{{items}}" type="checkbox" class="mr-2 custom-checkbox" />
                                    <label (click)="selectedGenresItems(items)" for="{{items}}"
                                        class="text-[13px] w-[110px] truncate hover:text-purple-500 
                                        transition ease-in-out duration-75 cursor-pointer font-semibold">{{items}}</label>
                                </div>
                                }
                            </div>
                            } @else {
                            @for(subcategory of genre.subcategories; track $index) {
                            <p class="text-[14px] text-neutral-400 p-3 font-semibold">{{subcategory.name}}</p>

                            <div class="p-1  grid grid-cols-4">
                                @for(subItems of subcategory.items; track $index) {
                                <div class="flex items-center mb-2">
                                    <input id="{{subItems}}" type="checkbox" class="mr-2 custom-checkbox" />
                                    <label (click)="selectedGenresItems(subItems)" for="{{subItems}}" class="text-[13px] w-[110px] truncate font-semibold  hover:text-purple-500 
                                        transition ease-in-out duration-75 cursor-pointer">{{subItems}}</label>
                                </div>
                                }
                            </div>

                            }
                            }

                            }
                            }
                        </div>

                    </div>
                </div>
                <p class="font-semibold text-neutral-400 text-[14px]">
                    Genres: 
                    <span class="text-purple-500 font-bold"> {{nameSelecteFirstGenre}} @if(countSelectedsGenres > 1) { +
                        {{(countSelectedsGenres-1)}} } </span>

                </p>
                     <ng-icon name="heroChevronDown" size="16" class="ml-2" color="#8a8a8a"></ng-icon>
            </div>

            <div (click)="toggleBoxVisibility('Years')" class="w-full sm:w-[200px] p-2 flex justify-between items-center select-none cursor-pointer rounded-md outline-0
             bg-white custom-shadow mb-4">
                <div id="YearsBox"
                    class="w-[135px] hidden h-[200px] p-4 mt-41 overflow-y-auto absolute left-65 bg-white custom-shadow rounded-md">
                    @for(year of years; track $index){
                    <p (click)="getYearSelected(year)" id="{{year}}" class="p-2 font-semibold text-[14px] rounded-md
                        hover:bg-purple-100 transition ease-in-out duration-150
                        ">{{year}}</p>
                    }
                </div>
                <p class="font-semibold text-neutral-400 text-[14px]">
                    Year:
                    @if(yearSelected != 0){
                    <span class="text-purple-500 text-[14px] p-1 font-bold rounded-md">{{yearSelected}}</span>
                    } 

                </p>
                <ng-icon name="heroChevronDown" size="16" class="ml-2" color="#8a8a8a"></ng-icon>
            </div>
            <div (click)="toggleBoxVisibility('Season')" class="w-full sm:w-[200px] p-2 flex justify-between items-center select-none cursor-pointer rounded-md outline-0
             bg-white custom-shadow mb-4">
                <div id="SeasonBox"
                    class="w-[135px] hidden h-[173px] p-4 mt-35  absolute left-65 bg-white custom-shadow rounded-md">

                    <p (click)="getSeasonSelected('.Winter')"
                        class="Winter p-2 font-semibold text-[14px] rounded-md hover:bg-purple-100 transition ease-in-out duration-150">
                        Winter
                    </p>
                    <p (click)="getSeasonSelected('.Spring')"
                        class="Spring p-2 font-semibold text-[14px] rounded-md hover:bg-purple-100 transition ease-in-out duration-150">
                        Spring
                    </p>
                    <p (click)="getSeasonSelected('.Summer')"
                        class="Summer p-2 font-semibold text-[14px] rounded-md hover:bg-purple-100 transition ease-in-out duration-150">
                        Summer
                    </p>
                    <p (click)="getSeasonSelected('.Fall')"
                        class="Fall p-2 font-semibold text-[14px] rounded-md hover:bg-purple-100 transition ease-in-out duration-150">
                        Fall
                    </p>

                </div>
                <p class="font-semibold text-neutral-400 text-[14px]">
                    Season:
                    @if(seasonSelected !== ''){
                    <span class="text-purple-500 text-[14px] p-1 font-bold rounded-md">{{seasonSelected?.replace('.','')}}</span>
                    } 

                </p>
                     <ng-icon name="heroChevronDown" size="16" class="ml-2" color="#8a8a8a"></ng-icon>
            </div>
            <br>
            <button (click)="getAnimeByFilters(0)" class="w-full sm:w-[200px] p-2 rounded-md bg-purple-500 text-neutral-50 custom-shadow">Search</button>
        </div>
    </div>
    <!-- Results -->
    <div>
        <div class="flex flex-row flex-wrap gap-4 w-full mt-8 justify-center " >
            @for(anime of anime.media; track anime.id){
                
            <div (click)="goToAnimeDetails(anime.id)" class=" w-[185px]  p-2 flex flex-col items-center rounded-md  mb-4 cursor-pointer">
                <img class="custom-shadow w-full h-[256px] object-cover rounded-md" [src]="anime.coverImage.large" alt="">
                <p class="text-neutral-800 font-semibold text-[14px] mt-2 truncate w-[180px]">{{anime.title.romaji}}</p>
            </div>
            }
        </div>    
        <div class="flex w-full justify-center mb-15" >
        <button (click)="loadMoreAnime()" id="loadMore" 
        class=" hidden w-[90%] sm:w-[500px] p-2  rounded-md bg-purple-500 text-neutral-50 custom-shadow">Load More</button> 
        </div>
    </div>
   
  

</section>
