<div class="w-50 p-2 m-1 md:w-auto flex  rounded-lg">     
    <h3 class=" text-xl w-auto mr-10 font-[Montserrat] font-extrabold text-white ">
        AL-P
    </h3>
    <nav>
        <ul class="flex">
            <li class="flex-auto mr-8 text-neutral-300 font-medium text-md"><a href="/">Home</a></li>
            <li class="flex-auto mr-8 text-neutral-300 font-medium text-md">About</li>
            <li class="flex-auto mr-8 text-neutral-300 font-medium text-md">Contact</li>
        </ul>
    </nav>
    <app-search-bar class="flex-auto w-auto justify-center"/>
    <div class="w-50 flex-auto">
        <button  class=" float-right text-neutral-300 cursor-pointer bg-neutral-700 rounded-lg shadow-lg p-1 pr-4 pl-4"> Login </button>
    </div>   
</div>
