<div id="topBar" class="   rounded-md  md:w-full sm:w-200 flex  z-10">
    <div class="w-full flex p-2 bg-neutral-800">
        <div class="flex flex-row items-center justify-center  ">
            <a class="flex items-center flex-row" href="/"> <img src="logo_kaori.png" class="w-10 h-10 mr-2"
                    alt="Kaori">
                <img src="name_logo.png" class=" h-7 mr-6" alt="">
            </a>
        </div>


        <nav class="items-center justify-center md:flex hidden">
            <ul class="flex ">
                <li class="flex-auto mr-8 text-neutral-300 font-medium text-md"><a href="/">Home</a></li>               
            </ul>
        </nav>
        <app-search-bar class="flex-auto w-auto justify-center pr-80" />
       
    </div>
</div>