@if (dataFound && show) {
<div class="absolute h-full w-full top-0  bg-gray-600/80 z-1">
    <div class=" bg-white w-200 m-0 m-auto mt-15  border-6 border-gray-700 p-4 rounded-xl h-120 shadow-xl z-10 ">
        <div class="overflow-auto overflow-x-hidden w-auto h-110 grid grid-cols-2 gap-2 mr-2">
            @if (anime) {
            <div (click)="goToDetails(item.id)" class="p-2 w-auto col-span-1 mb-2 mr-6
     text-gray-800 flex justify-items-center hover:bg-gray-300 cursor-pointer rounded-lg" *ngFor="let item of anime">
                <img class=" w-18 h-25 object-cover " [src]="item.coverImage.large" />
                <div class="flex-col w-60">
                    <p class="pl-3 font-medium  text-[14px] subpixel-antialiased truncate tracking-tight">{{
                        item.title.romaji
                        }}</p>
                    <p class="pl-3 text-[12px] text-gray-800 subpixel-antialiased truncate tracking-normal">{{
                        item.title.english }}</p>
                    <p class="pl-3 text-[12px] text-gray-800 subpixel-antialiased truncate tracking-normal">{{
                        item.status
                        }}
                    </p>
                    <p class="pl-3 text-[12px] text-gray-800 subpixel-antialiased truncate tracking-normal">
                        {{ item.genres[0] }} · <span class="font-medium text-gray-800"> {{ item.format }} </span>
                    </p>
                </div>

            </div>
            }
        </div>
    </div>
</div>

}