@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
    --font-montserrat: "Manrope", sans-serif; 
  }

  *{
    font-family: 'Manrope', sans-serif;
    --font-monoespaced: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  }

.custom-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
 